<a href="https://colab.research.google.com/github/bharath2787/ML-AI/blob/main/Python_Basics/Data%20Structures/Lists_python_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists

### What are Lists?
* In Python, a list is a built-in data type used to store an ordered collection of items


* Lists are used to store multiple items in a single variable.

## Method: `append()`
* Add an item to the end of the list. Similar to a[len(a):] = [x].

In [ ]:
# Example 1: Add an element to the end of the list
my_list = [1, 2, 3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [ ]:
# Example 2: Append a string to a list
my_list = ['apple', 'banana']
my_list.append('cherry')
my_list

['apple', 'banana', 'cherry']

## Method: `clear()`
* Remove all items from the list. Similar to del a[:].

In [ ]:
# Example 1: Clear all elements from a list
my_list = [1, 2, 3, 4]
my_list.clear()
my_list

In [ ]:
# Example 2: Clear a list of strings
my_list = ['apple', 'banana', 'cherry']
my_list.clear()
my_list

## Method: `copy()`
* Return a shallow copy of the list. Similar to a[:].

In [ ]:
# Example 1: Create a copy of a list
my_list = [1, 2, 3, 4]
copied_list = my_list.copy()
copied_list

In [ ]:
# Example 2: Copy a list of strings
my_list = ['apple', 'banana', 'cherry']
copied_list = my_list.copy()
copied_list

## Method: `count()`
* list.count(x)
* Return the number of times x appears in the list.

In [ ]:
# Example 1: Count occurrences of an element in a list
my_list = [1, 2, 2, 3, 2]
my_list.count(2)

In [ ]:
# Example 2: Count string occurrences
my_list = ['apple', 'banana', 'apple', 'cherry']
my_list.count('apple')

## Method: `extend()`
* list.extend(iterable)
* Extend the list by appending all the items from the iterable. Similar to a[len(a):] = iterable.

In [ ]:
# Example 1: Extend a list with another list
my_list = [1, 2, 3]
my_list.extend([4, 5])
my_list

[1, 2, 3, 4, 5]

In [ ]:
# Example 2: Extend with a list of strings
my_list = ['apple', 'banana']
my_list.extend(['cherry', 'date'])
my_list

## Method: `index()`
* Return zero-based index in the list of the first item whose value is equal to x.
* Raises a ValueError if there is no such item.

In [ ]:
# Example 1: Get the index of an element
my_list = [1, 2, 3, 4, 5]
my_list.index(3)

In [ ]:
# Example 2: Get index of a string
my_list = ['apple', 'banana', 'cherry']
my_list.index('banana')

## Method: `insert()`
* list.insert(i, x)
* Insert an item at a given position.
* The first argument is the index of the element before which to insert
* so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

In [ ]:
# Example 1: Insert an element at a specific position
my_list = [1, 2, 4]
my_list.insert(2, 3)
my_list

In [ ]:
# Example 2: Insert a string at index 1
my_list = ['apple', 'cherry']
my_list.insert(1, 'banana')
my_list

## Method: `pop()`
* list.pop([i])
* Remove the item at the given position in the list, and return it.
* If no index is specified, a.pop() removes and returns the last item in the list.
* It raises an IndexError if the list is empty or the index is outside the list range.

In [ ]:
# Example 1: Pop the last element from a list
my_list = [1, 2, 3, 4]
my_list.pop()
my_list

In [ ]:
# Example 2: Pop an element from a specific index
my_list = ['apple', 'banana', 'cherry']
my_list.pop(1)
my_list

## Method: `remove()`
* list.remove(x)
* Remove the first item from the list whose value is equal to x.
* It raises a ValueError if there is no such item.

In [ ]:
# Example 1: Remove the first occurrence of an element
my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
my_list

In [ ]:
# Example 2: Remove a string from a list
my_list = ['apple', 'banana', 'cherry']
my_list.remove('banana')
my_list

## Method: `reverse()`
* Reverse the elements of the list in place.

In [ ]:
# Example 1: Reverse a list of numbers
my_list = [1, 2, 3, 4]
my_list.reverse()
my_list

In [ ]:
# Example 2: Reverse a list of strings
my_list = ['apple', 'banana', 'cherry']
my_list.reverse()
my_list

## Method: `sort()`
* Sort the items of the list in place

In [ ]:
# Example 1: Sort a list of numbers
my_list = [4, 2, 3, 1]
my_list.sort()
my_list

In [ ]:
# Example 2: Sort a list of strings
my_list = ['banana', 'apple', 'cherry']
my_list.sort()
my_list

['apple', 'banana', 'cherry']

In [ ]:
my_list = ['banana', 'apple', 'cherry']
my_list.sort(reverse=True)
my_list

['cherry', 'banana', 'apple']

## Creating List of Lists

In [ ]:
nested_list = [[1, 2], [3, 4], [5, 6]]
print("Nested List:", nested_list)

Nested List: [[1, 2], [3, 4], [5, 6]]

## Heterogeneous List

In [ ]:

# Example of a list with different types of variables
mixed_list = ["Python", 3.14, True, 42]
print("List with Variables:", mixed_list)

List with Variables: ['Python', 3.14, True, 42]

## Indexing and Slicing

In [ ]:

# Forward Indexing
forward_indexing_list = ["a", "b", "c", "d"]
print("Forward Indexing (Element at Index 2):", forward_indexing_list[2])

# Backward Indexing
print("Backward Indexing (Last Element):", forward_indexing_list[-1])

## Slicing

In [ ]:

# Forward Slicing
print("Forward Slicing (First Three Elements):", forward_indexing_list[0:3])

# Backward Slicing
print("Backward Slicing (Last Two Elements):", forward_indexing_list[-2:])

# Step Slicing
step_slicing_list = [0, 1, 2, 3, 4, 5, 6]
print("Step Slicing (Every Second Element):", step_slicing_list[::2])

## List Operations
List support operations like concatenation, repetition, and membership tests.

In [ ]:
# Concatenation
List1 = [1, 2]
List2 = [3, 4]
concatenated_list = List1 + List2
print("Concatenated List:", concatenated_list)

# Repetition
repeated_list = List1 * 3
print("Repeated List:", repeated_list)

# Membership Test
print("Is 2 in List1?", 2 in List1)