In [ ]:
# We will be using amazon and inventory databases for joins, both the .sql file are give at the bottom of this notebook


---

#  INNER JOIN in SQL

---

![image.png]()




##  What Does INNER JOIN Do?

> An `INNER JOIN` returns **only those records that have matching values in both tables** based on the specified condition.

---

##  Example Use Case:

Letâ€™s say a customer placed an order that includes a product.
You want to **see the product details** along with **the quantity** ordered:

```sql
SELECT
    oi.order_id,
    p.name AS product_name,
    oi.quantity
FROM order_items oi
INNER JOIN products p ON oi.product_id = p.product_id;
```

---

###  1. **Basic INNER JOIN Using `*` (All Columns)**

```sql
SELECT *
FROM orders o
INNER JOIN order_items oi ON o.order_id = oi.order_id;
```

** Output:** Returns all matching records from `orders` and `order_items` based on `order_id`.

---

###  2. **INNER JOIN with Specific Columns**

```sql
SELECT
    o.order_id,
    o.customer_id,
    oi.product_id,
    oi.quantity
FROM orders o
INNER JOIN order_items oi ON o.order_id = oi.order_id;
```

** Output:** Returns only the specified columns from both tables.

---

###  3. **INNER JOIN with Prefixes for Disambiguation**

```sql
SELECT
    orders.order_id,
    order_items.product_id
FROM orders
INNER JOIN order_items ON orders.order_id = order_items.order_id;
```

** Note:** Useful when **not using aliases** or when readability is preferred.

---

###  4. **INNER JOIN with Table Aliases**

```sql
SELECT
    o.order_id,
    oi.product_id,
    oi.quantity
FROM orders AS o
INNER JOIN order_items AS oi ON o.order_id = oi.order_id;
```

** Benefit:** Makes the query concise and readable, especially when using multiple joins.

---

###  5. **INNER JOIN Across Two Databases**

Assume:

* Table `order_items` is in DB `store`
* Table `products` is in DB `inventory`

```sql
SELECT
    oi.product_id,
    p.name AS product_name,
    oi.quantity
FROM store.order_items AS oi
INNER JOIN inventory.products AS p ON oi.product_id = p.product_id;
```

** Output:** Returns product name and quantity for matching product IDs across two DBs.

** Requirement:** Both DBs must be on the same MySQL server, and you must have access to both.

---

In [1]:
# -- Simplified SQL Schema with 7 records in each table
# DROP DATABASE IF EXISTS `amazon`;
# CREATE DATABASE `amazon`;
# USE `amazon`;
# -- Order Items Table (Many-to-Many Relationship)

# -- Drop existing tables to avoid conflicts
# DROP TABLE IF EXISTS order_items;
# DROP TABLE IF EXISTS orders;
# DROP TABLE IF EXISTS products;
# DROP TABLE IF EXISTS customers;

# -- Customers Table
# CREATE TABLE customers (
#   customer_id INT PRIMARY KEY,
#   name VARCHAR(50)
# );

# INSERT INTO customers VALUES
# (1, 'Alice'),
# (2, 'Bob'),
# (3, 'Charlie'),
# (4, 'Diana'),
# (5, 'Ethan'),
# (6, 'Fiona'),
# (7, 'George');

# -- Orders Table
# CREATE TABLE orders (
#   order_id INT PRIMARY KEY,
#   customer_id INT,
#   order_date DATE,
#   FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
# );

# INSERT INTO orders VALUES
# (101, 1, '2023-01-01'),
# (102, 1, '2023-01-10'),
# (103, 2, '2023-02-05'),
# (104, 3, '2023-02-20'),
# (105, 5, '2023-03-01'),
# (106, 6, '2023-03-15'),
# (107, 7, '2023-03-25');

# -- Products Table
# CREATE TABLE products (
#   product_id INT PRIMARY KEY,
#   name VARCHAR(50),
#   price DECIMAL(5,2)
# );

# INSERT INTO products VALUES
# (1, 'Pen', 1.50),
# (2, 'Notebook', 2.75),
# (3, 'Backpack', 15.00),
# (4, 'Pencil', 0.99),
# (5, 'Eraser', 0.50),
# (6, 'Marker', 1.80),
# (7, 'Stapler', 3.99);



# CREATE TABLE order_items (
#   order_id INT,
#   product_id INT,
#   quantity INT,
#   PRIMARY KEY (order_id, product_id),
#   FOREIGN KEY (order_id) REFERENCES orders(order_id),
#   FOREIGN KEY (product_id) REFERENCES products(product_id)
# );

# INSERT INTO order_items VALUES
# (101, 1, 2),
# (101, 2, 1),
# (102, 3, 1),
# (103, 1, 5),
# (104, 4, 3),
# (105, 5, 2),
# (106, 6, 1);

In [ ]:
# -- Simplified SQL Schema with 7 records in each table
# DROP DATABASE IF EXISTS `inventory`;
# CREATE DATABASE `inventory`;
# USE `inventory`;
# -- Order Items Table (Many-to-Many Relationship)


# DROP TABLE IF EXISTS products;


# -- Products Table
# CREATE TABLE products (
#   product_id INT PRIMARY KEY,
#   name VARCHAR(50),
#   price DECIMAL(5,2)
# );

# INSERT INTO products VALUES
# (1, 'Pen', 1.50),
# (2, 'Notebook', 2.75),
# (3, 'Backpack', 15.00),
# (4, 'Pencil', 0.99),
# (5, 'Eraser', 0.50),
# (6, 'Marker', 1.80),
# (7, 'Stapler', 3.99);