
##Content-Based Recommendation System

In [9]:
# +-------------------------------+
# |           Start               |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Load datasets: movies.csv &   |
# | credits.csv                   |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Merge datasets on 'title'     |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Select relevant columns:       |
# | movie_id, title, overview,    |
# | genres, keywords, cast, crew  |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Preprocess data:               |
# | - Convert JSON strings to     |
# |   lists                       |
# | - Keep top 3 cast members     |
# | - Extract director            |
# | - Remove spaces from names    |
# | - Tokenize overview text      |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Combine text fields into a     |
# | single 'tags' column           |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Vectorize 'tags' using         |
# | CountVectorizer (max 5000 features) |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Compute cosine similarity      |
# | matrix for all movies          |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Define recommendation function |
# | - Find movie index             |
# | - Retrieve similarity scores   |
# | - Sort and select top 5 movies |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Test recommendation function   |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# | Save movie list and similarity |
# | matrix using pickle            |
# +-------------------------------+
#               |
#               v
# +-------------------------------+
# |             End                |
# +-------------------------------+

In [10]:
# from google.colab import drive
# drive.mount('/content/drive')

## Importing required libraries

In [11]:

import numpy as np  # for numerical operations
import pandas as pd  # for data manipulation and analysis (mainly using DataFrames)
import os  # for interacting with the operating system (e.g., reading files)

## Reading the movies and credits data

In [12]:

movies = pd.read_csv('data/tmdb_5000_movies.csv')
credits = pd.read_csv('data/tmdb_5000_credits.csv')

## Display first 2 rows of the movies dataframe

In [13]:

movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

## Checking shape (number of rows and columns) of movies data

In [14]:

movies.shape

(4803, 20)

## Previewing the credits dataset

In [15]:

credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Merging both datasets on the "title" column to get a single dataset

In [16]:
movies = movies.merge(credits, on='title')

## Displaying the combined dataset

In [17]:

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Selecting only the required columns for the recommendation system

In [18]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Importing Abstract Syntax Trees (for safely evaluating strings that look like lists/dictionaries)

In [19]:
import ast

## Function to extract only the 'name' field from a stringified list of dictionaries (e.g., genres, keywords)

In [20]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

## Dropping rows with missing (NaN) values to clean the data

In [21]:

movies.dropna(inplace=True)

## Applying the convert function to 'genres' column

In [22]:


movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Applying the same function to 'keywords' column

In [23]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## Function to get top 3 cast members from the list

In [24]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter += 1
    return L

## Extracting top 3 cast members

In [25]:
movies['cast'] = movies['cast'].apply(convert)
movies['cast'] = movies['cast'].apply(lambda x: x[0:3])

## Function to extract the director from the crew list

In [26]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

## Applying the function to get directors

In [27]:
movies['crew'] = movies['crew'].apply(fetch_director)

## Sample records to see how the data looks

In [28]:
movies.sample(15)

,movie_id,title,overview,genres,keywords,cast,crew
889,8741,The Thin Red Line,"Based on the graphic novel by James Jones, The...","[Drama, History, War]","[based on novel, japanese, world war ii, battl...","[Sean Penn, Adrien Brody, Jim Caviezel]",[Terrence Malick]
2332,60307,Diary of a Wimpy Kid: Rodrick Rules,"Back in middle school after summer vacation, G...","[Family, Comedy]","[based on novel, middle school]","[Zachary Gordon, Devon Bostick, Rachael Harris]",[David Bowers]
2239,256962,Little Boy,An eight-year-old boy is willing to do whateve...,"[Comedy, Drama, War]","[japanese, world war ii, spirituality]","[Jakob Salvati, Emily Watson, Cary-Hiroyuki Ta...",[Alejandro Monteverde]
3259,13751,Akeelah and the Bee,Eleven year-old Akeelah Anderson's life is not...,[Drama],"[black people, spelling, spelling bee]","[Keke Palmer, Laurence Fishburne, Angela Bassett]",[Doug Atchison]
4017,9591,That Thing You Do!,A Pennsylvania band scores a hit in 1964 and r...,"[Comedy, Drama]","[pop star, musical, record label, music, music...","[Tom Everett Scott, Johnathon Schaech, Tom Hanks]",[Tom Hanks]
3937,13982,8 Heads in a Duffel Bag,Mafia hitman Tommy Spinelli (Joe Pesci) is fly...,"[Comedy, Crime]","[mexico, vacation, murder, head]","[Joe Pesci, Kristy Swanson, George Hamilton]",[Tom Schulman]
4769,125537,Smiling Fish & Goat On Fire,Two brothers share a house in LA's Fairfax dis...,"[Comedy, Romance]",[],"[Derick Martini, Amy Hathaway, Steven Martini]",[Kevin Jordan]
1606,13156,Secondhand Lions,"""Secondhand Lions"" follows the comedic adventu...","[Comedy, Drama, Family]","[texas, money, veteran]","[Michael Caine, Robert Duvall, Haley Joel Osment]",[Tim McCanlies]
3250,40807,50/50,"Inspired by a true story, a comedy centered on...","[Comedy, Drama]","[painter, father son relationship, therapist, ...","[Joseph Gordon-Levitt, Seth Rogen, Anna Kendrick]",[Jonathan Levine]
2721,23988,Stan Helsing,It's Halloween night and video store clerk Sta...,"[Comedy, Horror]","[halloween, slapstick, duringcreditsstinger]","[Diora Baird, Leslie Nielsen, Steve Howey]",[Bo Zenga]
3878,850,A Christmas Story,The comic mishaps and adventures of a young bo...,"[Comedy, Family]","[holiday, nostalgia, young boy, bb gun, essay,...","[Melinda Dillon, Darren McGavin, Peter Billing...",[Bob Clark]
130,13053,Bolt,Bolt is the star of the biggest show in Hollyw...,"[Animation, Family, Adventure, Comedy]","[hamster, kids and family, animal, cat vs dog,...","[John Travolta, Miley Cyrus, Susie Essman]","[Chris Williams, Byron Howard]"
2071,81836,To Rome with Love,Four tales unfold in the Eternal City: While v...,"[Romance, Comedy]","[rome, expatriate, episodic]","[Ellen Page, Woody Allen, Jesse Eisenberg]",[Woody Allen]
3078,2088,Romeo Is Bleeding,A corrupt cop gets in over his head when he tr...,"[Action, Crime, Drama, Thriller]","[police operation, sex addiction, police, mafi...","[Gary Oldman, Lena Olin, Annabella Sciorra]",[Peter Medak]
3398,24985,The Heart of Me,"Drama set in 1930s London with two sisters, Ma...","[Drama, Romance]",[],"[Helena Bonham Carter, Olivia Williams, Paul B...",[Thaddeus O'Sullivan]

## Function to remove spaces in multi-word names (e.g., "Tom Cruise" → "TomCruise")

In [29]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ", ""))
    return L1

## Removing spaces in names to treat them as single tokens

In [30]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [31]:
movies['genres'][0]

['Action', 'Adventure', 'Fantasy', 'ScienceFiction']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

## Splitting the overview text into individual words

In [33]:

movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [34]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

## Creating a new column 'tags' that combines overview, genres, keywords, cast, and crew

In [36]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [37]:
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

## Dropping the original columns that were combined into 'tags'

In [38]:
new = movies.drop(columns=['overview', 'genres', 'keywords', 'cast', 'crew'])

## Joining the list of words in 'tags' into a single string (space-separated)

In [39]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [40]:
new['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

## Converting text data into numerical vectors using Bag of Words model (with max 5000 features and removing English stopwords)

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
vector = cv.fit_transform(new['tags']).toarray()

In [42]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## Checking shape of the resulting matrix (rows = number of movies, columns = vocabulary size)

In [43]:
vector.shape

(4806, 5000)

## Calculating cosine similarity between all movie vectors

In [44]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

## Sample similarity values

In [45]:
similarity[0]

array([1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
       0.        ])

* Because cosine_similarity computes similarity between every pair of rows (movies) in vector.

* Each row corresponds to one movie’s feature vector.

* So you get similarity scores for all pairs of 4806 movies.

In [46]:
similarity.shape

(4806, 4806)

## Helper function to recommend similar movies based on cosine similarity

In [47]:

def recommend(movie):
    # Find index of the given movie
    index = new[new['title'] == movie].index[0]
    # Get similarity scores for that movie with all other movies
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    # Print top 5 most similar movies (excluding the input movie itself)
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

##This is how recommend function works:

###Step-by-step explanation of the **`recommend`** function

---

### Purpose:

This function **finds and prints movies similar to the given movie** based on their content similarity (using cosine similarity scores).

---

### Breakdown of the code:

```python
def recommend(movie):
```

* This defines a function named `recommend` that takes one input parameter, `movie` — the movie title you want recommendations for.

---

```python
index = new[new['title'] == movie].index[0]
```

* This line finds the **row index** of the movie in the dataset `new` where the title matches the given `movie` name.
* `new['title'] == movie` creates a boolean filter.
* `.index[0]` extracts the first matching index.
* This index will be used to look up similarity scores for that movie.

---

```python
distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
```

* `similarity` is a matrix where each row corresponds to a movie, and each column contains similarity scores between that movie and every other movie.
* `similarity[index]` gives the similarity scores of the input movie with all other movies.
* `enumerate()` pairs each similarity score with its movie index, creating tuples like `(movie_index, similarity_score)`.
* `list()` converts the enumerate object into a list of tuples.
* `sorted(..., reverse=True, key=lambda x: x[1])` sorts this list **in descending order** by the similarity score (`x[1]`), so the most similar movies come first.

---

```python
for i in distances[1:6]:
    print(new.iloc[i[0]].title)
```

* `distances[1:6]` slices the sorted list to get the **top 5 movies** after the first one.
* We skip the first element `distances[0]` because that is the movie itself (with similarity = 1).
* The loop goes through these 5 most similar movies.
* `new.iloc[i[0]].title` fetches the title of the movie using the index `i[0]` from the original dataframe.
* `print()` displays the recommended movie titles.

---

### Summary:

* You give the function a movie name.
* It finds the similarity scores of that movie with all others.
* It sorts the movies by similarity score, highest first.
* It prints the top 5 similar movie titles (excluding the movie you searched for).

## Example usage of the recommendation system

In [48]:
recommend('Terminator 3: Rise of the Machines')

The Terminator
Terminator Salvation
Terminator 2: Judgment Day
Terminator Genisys
Highlander: Endgame

## Saving the data and similarity matrix to files so that they can be used in a web app or deployed system

In [49]:
import pickle
pickle.dump(new, open('movie_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

## Explaination for Recommend function

In [50]:
new[new['title'] == "X-Men: Days of Future Past"].index[0]

46

In [51]:
list(enumerate(similarity[46]))

[(0, 0.1765469659009499),
 (1, 0.12309149097933274),
 (2, 0.1250610798961445),
 (3, 0.02051524849655546),
 (4, 0.16116459280507608),
 (5, 0.09750298988361741),
 (6, 0.023911404992940522),
 (7, 0.23354968324845696),
 (8, 0.09869275424396534),
 (9, 0.13273296830047474),
 (10, 0.24242424242424246),
 (11, 0.08362420100070908),
 (12, 0.1315903389919538),
 (13, 0.04875149494180871),
 (14, 0.2059714602177749),
 (15, 0.052486388108147805),
 (16, 0.16943474841747155),
 (17, 0.19897095972842185),
 (18, 0.1844571903642866),
 (19, 0.1348399724926484),
 (20, 0.07987230638308718),
 (21, 0.0646508183835236),
 (22, 0.07106690545187017),
 (23, 0.10050378152592121),
 (24, 0.05802588531856595),
 (25, 0.019968076595771794),
 (26, 0.29424494316824984),
 (27, 0.12070113739631691),
 (28, 0.0969762275752854),
 (29, 0.04875149494180871),
 (30, 0.10050378152592122),
 (31, 0.1973855084879307),
 (32, 0.07041787902195304),
 (33, 0.39927470475234533),
 (34, 0.03553345272593508),
 (35, 0.1519474352795173),
 (36, 0.11295649894498103),
 (37, 0.1160517706371319),
 (38, 0.1727334068350122),
 (39, 0.09090909090909093),
 (40, 0.05802588531856595),
 (41, 0.07537783614444092),
 (42, 0.0),
 (43, 0.10050378152592122),
 (44, 0.04222003309207491),
 (45, 0.04694525268130203),
 (46, 1.0000000000000002),
 (47, 0.11144179967299829),
 (48, 0.13957263155977065),
 (49, 0.0),
 (50, 0.22247460415730486),
 (51, 0.13264730648561457),
 (52, 0.08956221510397981),
 (53, 0.07617550741785385),
 (54, 0.10889310129609417),
 (55, 0.07884165279854435),
 (56, 0.11134044285378084),
 (57, 0.0),
 (58, 0.04875149494180871),
 (59, 0.08263686767584087),
 (60, 0.05970814340265321),
 (61, 0.1484539238050411),
 (62, 0.08444006618414981),
 (63, 0.09475587393582686),
 (64, 0.3555795011093798),
 (65, 0.06477502756312958),
 (66, 0.02566635011696727),
 (67, 0.09231861823449955),
 (68, 0.20483662259967567),
 (69, 0.05357997197768198),
 (70, 0.13937366833451514),
 (71, 0.11295649894498103),
 (72, 0.12712834523274563),
 (73, 0.03892494720807615),
 (74, 0.10379985922153641),
 (75, 0.12712834523274563),
 (76, 0.08058229640253804),
 (77, 0.0),
 (78, 0.08257228238447706),
 (79, 0.16116459280507608),
 (80, 0.03553345272593508),
 (81, 0.1005037815259212),
 (82, 0.05723638070321425),
 (83, 0.20313468644761026),
 (84, 0.128564869306645),
 (85, 0.14598637372036238),
 (86, 0.060606060606060615),
 (87, 0.08956221510397981),
 (88, 0.09379580992210838),
 (89, 0.04747572435155396),
 (90, 0.06700252101728081),
 (91, 0.1315903389919538),
 (92, 0.09750298988361741),
 (93, 0.051899929610768204),
 (94, 0.17069718549972973),
 (95, 0.05133270023393454),
 (96, 0.09231861823449955),
 (97, 0.12833175058483634),
 (98, 0.12121212121212123),
 (99, 0.06154574548966637),
 (100, 0.03798685881987932),
 (101, 0.3333333333333334),
 (102, 0.0922285951821433),
 (103, 0.1142875802206236),
 (104, 0.060606060606060615),
 (105, 0.07422696190252055),
 (106, 0.04611429759107165),
 (107, 0.11844484241978358),
 (108, 0.24868236565099688),
 (109, 0.12309149097933275),
 (110, 0.07537783614444092),
 (111, 0.09534625892455922),
 (112, 0.09379580992210838),
 (113, 0.05437272478270369),
 (114, 0.05437272478270369),
 (115, 0.055749467333806056),
 (116, 0.05884898863364997),
 (117, 0.06253053994807226),
 (118, 0.018148850216015696),
 (119, 0.05025189076296061),
 (120, 0.0),
 (121, 0.1250610798961445),
 (122, 0.2631806779839076),
 (123, 0.15075567228888184),
 (124, 0.07041787902195304),
 (125, 0.09869275424396536),
 (126, 0.23883257361061278),
 (127, 0.15974461276617435),
 (128, 0.0),
 (129, 0.21749089913081482),
 (130, 0.03289758474798845),
 (131, 0.1160517706371319),
 (132, 0.023472626340651014),
 (133, 0.03413943709994595),
 (134, 0.06963106238227915),
 (135, 0.0),
 (136, 0.052486388108147805),
 (137, 0.017674908041006732),
 (138, 0.08471737420873576),
 (139, 0.06686507980379898),
 (140, 0.0787295821622217),
 (141, 0.03892494720807615),
 (142, 0.10050378152592121),
 (143, 0.11955702496470261),
 (144, 0.1144727614064285),
 (145, 0.06978631577988532),
 (146, 0.01776672636296754),
 (147, 0.0646508183835236),
 (148, 0.07259540086406278),
 (149, 0.06686507980379898),
 (150, 0.15114173098063569),
 (151, 0.12666009927622474),
 (152, 0.09869275424396534),
 (153, 0.06686507980379898),
 (154, 0.1365577483997838),
 (155, 0.0),
 (156, 0.06857254813237415),
 (157, 0.07259540086406278),
 (158, 0.13121597027036952),
 (159, 0.10444659357341872),
 (160, 0.09984038297885897),
 (161, 0.07259540086406278),
 (162, 0.11396057645963797),
 (163, 0.08362420100070908),
 (164, 0.0969762275752854),
 (165, 0.10266540046786908),
 (166, 0.15386436372416593),
 (167, 0.10660035817780525),
 (168, 0.13762047064079508),
 (169, 0.1969463855669324),
 (170, 0.07106690545187015),
 (171, 0.030303030303030307),
 (172, 0.0778498944161523),
 (173, 0.05025189076296061),
 (174, 0.14309095175803563),
 (175, 0.053093187320189895),
 (176, 0.06356417261637282),
 (177, 0.0),
 (178, 0.026546593660094948),
 (179, 0.11677484162422844),
 (180, 0.0492365963917331),
 (181, 0.048280454958526765),
 (182, 0.1926686588971131),
 (183, 0.11534196721631888),
 (184, 0.05372153093502536),
 (185, 0.08585457105482137),
 (186, 0.04191297423079544),
 (187, 0.17407765595569785),
 (188, 0.023262105259961776),
 (189, 0.04222003309207491),
 (190, 0.06477502756312958),
 (191, 0.13273296830047474),
 (192, 0.10266540046786908),
 (193, 0.08989331499509894),
 (194, 0.0),
 (195, 0.13400504203456162),
 (196, 0.060606060606060615),
 (197, 0.05025189076296061),
 (198, 0.06154574548966637),
 (199, 0.12070113739631691),
 (200, 0.11980845957463077),
 (201, 0.0),
 (202, 0.03553345272593508),
 (203, 0.36363636363636376),
 (204, 0.027524094128159017),
 (205, 0.08444006618414981),
 (206, 0.07987230638308718),
 (207, 0.14712247158412492),
 (208, 0.17407765595569785),
 (209, 0.03993615319154359),
 (210, 0.05647824947249051),
 (211, 0.028239124736245257),
 (212, 0.0787295821622217),
 (213, 0.04494665749754947),
 (214, 0.08956221510397981),
 (215, 0.12695917902975642),
 (216, 0.06700252101728081),
 (217, 0.09564561997176209),
 (218, 0.08703882797784893),
 (219, 0.0682788741998919),
 (220, 0.2262778643423326),
 (221, 0.025391835805951283),
 (222, 0.06978631577988532),
 (223, 0.1144727614064285),
 (224, 0.0652791209833867),
 (225, 0.05372153093502536),
 (226, 0.06154574548966637),
 (227, 0.12712834523274563),
 (228, 0.1297498240269205),
 (229, 0.08149699421707284),
 (230, 0.09143006417649888),
 (231, 0.0),
 (232, 0.30772872744833185),
 (233, 0.11134044285378084),
 (234, 0.0930484210398471),
 (235, 0.06253053994807226),
 (236, 0.10050378152592121),
 (237, 0.07259540086406278),
 (238, 0.17545378532260505),
 (239, 0.02285751604412472),
 (240, 0.052486388108147805),
 (241, 0.15386436372416593),
 (242, 0.1939524551505708),
 (243, 0.10266540046786908),
 (244, 0.0323254091917618),
 (245, 0.09379580992210838),
 (246, 0.09065192181986734),
 (247, 0.0),
 (248, 0.04875149494180871),
 (249, 0.07422696190252055),
 (250, 0.03629770043203139),
 (251, 0.0),
 (252, 0.07041787902195304),
 (253, 0.15864086318476783),
 (254, 0.08585457105482137),
 (255, 0.08703882797784893),
 (256, 0.08444006618414981),
 (257, 0.11941628680530642),
 (258, 0.024140227479263383),
 (259, 0.0657951694959769),
 (260, 0.161627045958809),
 (261, 0.052486388108147805),
 (262, 0.07699905035090181),
 (263, 0.10889310129609417),
 (264, 0.050783671611902566),
 (265, 0.030303030303030307),
 (266, 0.08585457105482137),
 (267, 0.1556997888323046),
 (268, 0.028239124736245257),
 (269, 0.0),
 (270, 0.10618637464037979),
 (271, 0.08155908717405554),
 (272, 0.0),
 (273, 0.050783671611902566),
 (274, 0.11618357280412617),
 (275, 0.0969762275752854),
 (276, 0.10444659357341872),
 (277, 0.04532596090993367),
 (278, 0.10618637464037979),
 (279, 0.13273296830047474),
 (280, 0.0),
 (281, 0.025125945381480306),
 (282, 0.03178208630818641),
 (283, 0.05970814340265321),
 (284, 0.0),
 (285, 0.07041787902195304),
 (286, 0.023262105259961776),
 (287, 0.028239124736245257),
 (288, 0.03178208630818641),
 (289, 0.051899929610768204),
 (290, 0.10444659357341872),
 (291, 0.08703882797784893),
 (292, 0.10444659357341872),
 (293, 0.03289758474798845),
 (294, 0.21541010921383227),
 (295, 0.028239124736245257),
 (296, 0.041318433837920436),
 (297, 0.12434118282549846),
 (298, 0.0),
 (299, 0.04285495643554833),
 (300, 0.1651445647689541),
 (301, 0.16645007571529583),
 (302, 0.06253053994807226),
 (303, 0.029854071701326604),
 (304, 0.1484539238050411),
 (305, 0.08843153765707638),
 (306, 0.0969762275752854),
 (307, 0.08977369642581766),
 (308, 0.03629770043203139),
 (309, 0.0682788741998919),
 (310, 0.07422696190252055),
 (311, 0.08058229640253804),
 (312, 0.11295649894498103),
 (313, 0.04103049699311092),
 (314, 0.0),
 (315, 0.09379580992210838),
 (316, 0.025125945381480306),
 (317, 0.03993615319154359),
 (318, 0.0),
 (319, 0.07422696190252055),
 (320, 0.06963106238227915),
 (321, 0.0),
 (322, 0.17170914210964275),
 (323, 0.0),
 (324, 0.05437272478270369),
 (325, 0.11396057645963797),
 (326, 0.060606060606060615),
 (327, 0.05970814340265321),
 (328, 0.03178208630818641),
 (329, 0.17170914210964275),
 (330, 0.08703882797784893),
 (331, 0.05133270023393454),
 (332, 0.11769797726729994),
 (333, 0.06356417261637282),
 (334, 0.11009637651263607),
 (335, 0.05802588531856595),
 (336, 0.07597371763975865),
 (337, 0.07460470969529907),
 (338, 0.10444659357341872),
 (339, 0.11769797726729994),
 (340, 0.05372153093502536),
 (341, 0.09534625892455922),
 (342, 0.12060453783110545),
 (343, 0.0),
 (344, 0.0969762275752854),
 (345, 0.09750298988361741),
 (346, 0.0),
 (347, 0.0),
 (348, 0.03481553119113957),
 (349, 0.09534625892455922),
 (350, 0.11295649894498103),
 (351, 0.0),
 (352, 0.060606060606060615),
 (353, 0.02461829819586655),
 (354, 0.0),
 (355, 0.041318433837920436),
 (356, 0.09534625892455922),
 (357, 0.0),
 (358, 0.0682788741998919),
 (359, 0.07106690545187017),
 (360, 0.07106690545187015),
 (361, 0.029012942659282975),
 (362, 0.06700252101728081),
 (363, 0.04694525268130203),
 (364, 0.05372153093502536),
 (365, 0.027874733666903028),
 (366, 0.06154574548966637),
 (367, 0.0),
 (368, 0.1392621247645583),
 (369, 0.09534625892455922),
 (370, 0.05802588531856595),
 (371, 0.07963978098028485),
 (372, 0.055048188256318034),
 (373, 0.037113480951260276),
 (374, 0.04571503208824944),
 (375, 0.02228835993459966),
 (376, 0.05025189076296061),
 (377, 0.023262105259961776),
 (378, 0.03289758474798845),
 (379, 0.055048188256318034),
 (380, 0.0),
 (381, 0.0930484210398471),
 (382, 0.0),
 (383, 0.053093187320189895),
 (384, 0.06700252101728081),
 (385, 0.0),
 (386, 0.02486823656509969),
 (387, 0.028239124736245257),
 (388, 0.0),
 (389, 0.10444659357341872),
 (390, 0.029012942659282975),
 (391, 0.021110016546037454),
 (392, 0.0323254091917618),
 (393, 0.029012942659282975),
 (394, 0.02686076546751268),
 (395, 0.0),
 (396, 0.024375747470904353),
 (397, 0.0),
 (398, 0.0),
 (399, 0.026546593660094948),
 (400, 0.10660035817780525),
 (401, 0.1315903389919538),
 (402, 0.06356417261637282),
 (403, 0.13597788272980102),
 (404, 0.06963106238227915),
 (405, 0.03178208630818641),
 (406, 0.022473328748774734),
 (407, 0.02686076546751268),
 (408, 0.03629770043203139),
 (409, 0.0),
 (410, 0.1297498240269205),
 (411, 0.09090909090909093),
 (412, 0.0787295821622217),
 (413, 0.08585457105482137),
 (414, 0.03413943709994595),
 (415, 0.09174698042719671),
 (416, 0.05802588531856595),
 (417, 0.06963106238227915),
 (418, 0.19462473604038075),
 (419, 0.13121597027036952),
 (420, 0.13273296830047474),
 (421, 0.025125945381480306),
 (422, 0.11396057645963797),
 (423, 0.02686076546751268),
 (424, 0.041612518928823956),
 (425, 0.04875149494180871),
 (426, 0.10633485251477837),
 (427, 0.030303030303030307),
 (428, 0.06112274566280462),
 (429, 0.0),
 (430, 0.0),
 (431, 0.07963978098028485),
 (432, 0.051899929610768204),
 (433, 0.03413943709994595),
 (434, 0.028618190351607124),
 (435, 0.04103049699311092),
 (436, 0.028239124736245257),
 (437, 0.029854071701326604),
 (438, 0.029424494316824985),
 (439, 0.03178208630818641),
 (440, 0.029424494316824985),
 (441, 0.03126526997403613),
 (442, 0.05025189076296061),
 (443, 0.030303030303030307),
 (444, 0.053093187320189895),
 (445, 0.05884898863364997),
 (446, 0.026546593660094948),
 (447, 0.02461829819586655),
 (448, 0.02686076546751268),
 (449, 0.08956221510397981),
 (450, 0.05437272478270369),
 (451, 0.027186362391351845),
 (452, 0.03289758474798845),
 (453, 0.027524094128159017),
 (454, 0.050783671611902566),
 (455, 0.050783671611902566),
 (456, 0.1448413648755803),
 (457, 0.05970814340265321),
 (458, 0.09750298988361741),
 (459, 0.037113480951260276),
 (460, 0.0),
 (461, 0.11980845957463077),
 (462, 0.04074849710853642),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.21778620259218837),
 (467, 0.07041787902195304),
 (468, 0.09379580992210838),
 (469, 0.09656090991705353),
 (470, 0.025391835805951283),
 (471, 0.05723638070321425),
 (472, 0.1160517706371319),
 (473, 0.0787295821622217),
 (474, 0.0),
 (475, 0.07041787902195304),
 (476, 0.11134044285378084),
 (477, 0.0),
 (478, 0.061545745489666376),
 (479, 0.01958526645373187),
 (480, 0.1343038273375634),
 (481, 0.0),
 (482, 0.0),
 (483, 0.20100756305184245),
 (484, 0.03553345272593508),
 (485, 0.08703882797784893),
 (486, 0.06030226891555272),
 (487, 0.14519080172812557),
 (488, 0.058755799361195606),
 (489, 0.0),
 (490, 0.1556997888323046),
 (491, 0.16430838438455708),
 (492, 0.0323254091917618),
 (493, 0.0),
 (494, 0.0),
 (495, 0.11134044285378084),
 (496, 0.08843153765707638),
 (497, 0.0),
 (498, 0.07422696190252055),
 (499, 0.0),
 (500, 0.029424494316824985),
 (501, 0.09065192181986734),
 (502, 0.026546593660094948),
 (503, 0.08585457105482137),
 (504, 0.0),
 (505, 0.22792115291927592),
 (506, 0.0),
 (507, 0.11631052629980888),
 (508, 0.149270358506633),
 (509, 0.026546593660094948),
 (510, 0.1631181743481111),
 (511, 0.32897584747988445),
 (512, 0.06253053994807226),
 (513, 0.060606060606060615),
 (514, 0.09231861823449955),
 (515, 0.0),
 (516, 0.0),
 (517, 0.022662980454966834),
 (518, 0.05723638070321425),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.027874733666903028),
 (523, 0.08058229640253804),
 (524, 0.03413943709994595),
 (525, 0.02566635011696727),
 (526, 0.0),
 (527, 0.0),
 (528, 0.04973647313019938),
 (529, 0.05372153093502536),
 (530, 0.06963106238227915),
 (531, 0.07784989441615231),
 (532, 0.0),
 (533, 0.03629770043203139),
 (534, 0.04351941398892446),
 (535, 0.05647824947249051),
 (536, 0.026546593660094948),
 (537, 0.07259540086406278),
 (538, 0.0),
 (539, 0.149270358506633),
 (540, 0.05802588531856595),
 (541, 0.09475587393582686),
 (542, 0.06241877839323594),
 (543, 0.10744306187005072),
 (544, 0.1250610798961445),
 (545, 0.029424494316824985),
 (546, 0.07422696190252055),
 (547, 0.09231861823449955),
 (548, 0.0),
 (549, 0.02566635011696727),
 (550, 0.0),
 (551, 0.023057148795535824),
 (552, 0.0),
 (553, 0.03289758474798845),
 (554, 0.03178208630818641),
 (555, 0.11948802984981081),
 (556, 0.05970814340265321),
 (557, 0.08956221510397981),
 (558, 0.0),
 (559, 0.0),
 (560, 0.023911404992940522),
 (561, 0.07597371763975865),
 (562, 0.0),
 (563, 0.028239124736245257),
 (564, 0.03481553119113957),
 (565, 0.04737793696791343),
 (566, 0.05133270023393454),
 (567, 0.03126526997403613),
 (568, 0.05970814340265321),
 (569, 0.04973647313019938),
 (570, 0.03892494720807615),
 (571, 0.0674199862463242),
 (572, 0.10965861582662816),
 (573, 0.023262105259961776),
 (574, 0.05025189076296061),
 (575, 0.029424494316824985),
 (576, 0.05970814340265321),
 (577, 0.09534625892455922),
 (578, 0.07460470969529907),
 (579, 0.15891043154093204),
 (580, 0.051899929610768204),
 (581, 0.10050378152592121),
 (582, 0.14920941939059815),
 (583, 0.05372153093502536),
 (584, 0.052486388108147805),
 (585, 0.0787295821622217),
 (586, 0.09389050536260406),
 (587, 0.11009637651263607),
 (588, 0.0),
 (589, 0.1523510148357077),
 (590, 0.03629770043203139),
 (591, 0.05372153093502536),
 (592, 0.11149893466761211),
 (593, 0.0),
 (594, 0.05723638070321425),
 (595, 0.055749467333806056),
 (596, 0.07460470969529907),
 (597, 0.05970814340265321),
 (598, 0.0),
 (599, 0.06928549666419952),
 (600, 0.04973647313019938),
 (601, 0.07597371763975865),
 (602, 0.06978631577988532),
 (603, 0.05884898863364997),
 (604, 0.06963106238227915),
 (605, 0.055048188256318034),
 (606, 0.0),
 (607, 0.0922285951821433),
 (608, 0.0),
 (609, 0.07385489458759964),
 (610, 0.10403129732205989),
 (611, 0.05133270023393454),
 (612, 0.04875149494180871),
 (613, 0.03892494720807615),
 (614, 0.03126526997403613),
 (615, 0.03413943709994595),
 (616, 0.03798685881987932),
 (617, 0.05723638070321425),
 (618, 0.1523510148357077),
 (619, 0.0),
 (620, 0.0),
 (621, 0.07259540086406278),
 (622, 0.06857254813237415),
 (623, 0.023911404992940522),
 (624, 0.08206099398622184),
 (625, 0.0),
 (626, 0.029854071701326604),
 (627, 0.15974461276617435),
 (628, 0.07963978098028485),
 (629, 0.02566635011696727),
 (630, 0.0),
 (631, 0.028239124736245257),
 (632, 0.028618190351607124),
 (633, 0.12309149097933274),
 (634, 0.05884898863364997),
 (635, 0.02566635011696727),
 (636, 0.05884898863364997),
 (637, 0.027186362391351845),
 (638, 0.0),
 (639, 0.05372153093502536),
 (640, 0.053093187320189895),
 (641, 0.0),
 (642, 0.1293016367670472),
 (643, 0.055048188256318034),
 (644, 0.05970814340265321),
 (645, 0.04973647313019938),
 (646, 0.029424494316824985),
 (647, 0.02686076546751268),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.027524094128159017),
 (652, 0.025125945381480306),
 (653, 0.12666009927622474),
 (654, 0.1614000415687508),
 (655, 0.02686076546751268),
 (656, 0.0),
 (657, 0.07689464481087925),
 (658, 0.055749467333806056),
 (659, 0.027874733666903028),
 (660, 0.07106690545187017),
 (661, 0.08703882797784893),
 (662, 0.033501260508640406),
 (663, 0.03126526997403613),
 (664, 0.06700252101728081),
 (665, 0.05133270023393454),
 (666, 0.05372153093502536),
 (667, 0.0),
 (668, 0.10889310129609417),
 (669, 0.0),
 (670, 0.0),
 (671, 0.055749467333806056),
 (672, 0.05970814340265321),
 (673, 0.047822809985881044),
 (674, 0.07963978098028485),
 (675, 0.053093187320189895),
 (676, 0.03413943709994595),
 (677, 0.08471737420873576),
 (678, 0.0969762275752854),
 (679, 0.0),
 (680, 0.14506471329641488),
 (681, 0.03629770043203139),
 (682, 0.02486823656509969),
 (683, 0.053093187320189895),
 (684, 0.0),
 (685, 0.03892494720807615),
 (686, 0.03481553119113957),
 (687, 0.15386436372416593),
 (688, 0.025949964805384102),
 (689, 0.0),
 (690, 0.030303030303030307),
 (691, 0.10444659357341872),
 (692, 0.04973647313019938),
 (693, 0.0),
 (694, 0.024375747470904353),
 (695, 0.07106690545187017),
 (696, 0.0),
 (697, 0.0),
 (698, 0.07312724241271307),
 (699, 0.04103049699311092),
 (700, 0.09534625892455922),
 (701, 0.06700252101728081),
 (702, 0.025125945381480306),
 (703, 0.021427478217774167),
 (704, 0.050783671611902566),
 (705, 0.026243194054073903),
 (706, 0.02686076546751268),
 (707, 0.0),
 (708, 0.0787295821622217),
 (709, 0.02285751604412472),
 (710, 0.023057148795535824),
 (711, 0.0682788741998919),
 (712, 0.026243194054073903),
 (713, 0.0),
 (714, 0.0),
 (715, 0.10889310129609417),
 (716, 0.03629770043203139),
 (717, 0.0),
 (718, 0.047822809985881044),
 (719, 0.04103049699311092),
 (720, 0.028239124736245257),
 (721, 0.03413943709994595),
 (722, 0.024375747470904353),
 (723, 0.027186362391351845),
 (724, 0.05372153093502536),
 (725, 0.0),
 (726, 0.06700252101728081),
 (727, 0.03754255278891389),
 (728, 0.1297498240269205),
 (729, 0.0),
 (730, 0.07935196008581541),
 (731, 0.08471737420873576),
 (732, 0.08155908717405554),
 (733, 0.023057148795535824),
 (734, 0.10379985922153641),
 (735, 0.05133270023393454),
 (736, 0.03413943709994595),
 (737, 0.027524094128159017),
 (738, 0.0),
 (739, 0.03993615319154359),
 (740, 0.08155908717405554),
 (741, 0.060606060606060615),
 (742, 0.07106690545187017),
 (743, 0.026546593660094948),
 (744, 0.10444659357341872),
 (745, 0.0969762275752854),
 (746, 0.08956221510397981),

In [52]:
sorted(list(enumerate(similarity[46])), reverse=True, key=lambda x: x[1])[0:5]

[(46, 1.0000000000000002),
 (33, 0.39927470475234533),
 (203, 0.36363636363636376),
 (64, 0.3555795011093798),
 (101, 0.3333333333333334)]