Some practical applications of `map()` and `apply()` supplemented with **data examples** .

---

### **Practical Applications of `map()`**
#### **1. Data Cleaning & Transformation**
**Example:** Converting categorical values into meaningful labels.  
```python
import pandas as pd

data = {'ID': [1, 2, 3, 4], 'Gender': ['M', 'F', 'M', 'F']}
df = pd.DataFrame(data)

df['Gender'] = df['Gender'].map({'M': 'Male', 'F': 'Female'})
print(df)
```
**Output:**
```
   ID  Gender
0   1   Male
1   2 Female
2   3   Male
3   4 Female
```
---

#### **2. Feature Engineering (Numerical to Categorical)**
**Example:** Categorizing salary levels.  
```python
data = {'Employee': ['Alice', 'Bob', 'Charlie', 'David'], 'Salary': [60000, 45000, 75000, 30000]}
df = pd.DataFrame(data)

df['Salary_Category'] = df['Salary'].map(lambda x: 'High' if x > 50000 else 'Low')
print(df)
```
**Output:**
```
  Employee  Salary Salary_Category
0    Alice   60000           High
1      Bob   45000            Low
2  Charlie   75000           High
3    David   30000            Low
```
---

#### **3. Handling Missing Values**
**Example:** Replacing missing values with a default value.  
```python
data = {'Name': ['Alice', 'Bob', 'Charlie', None], 'City': ['New York', 'Los Angeles', None, 'Chicago']}
df = pd.DataFrame(data)

df['City'] = df['City'].map(lambda x: 'Unknown' if pd.isnull(x) else x)
print(df)
```
**Output:**
```
     Name         City
0   Alice    New York
1     Bob Los Angeles
2 Charlie     Unknown
3   None     Chicago
```
---

### **Practical Applications of `apply()`**
#### **1. Row-wise Calculations (Sum of Multiple Columns)**
**Example:** Calculating total sales from multiple quarters.  
```python
data = {'Q1': [1000, 2000, 3000], 'Q2': [1500, 2500, 3500], 'Q3': [1200, 2200, 3200], 'Q4': [1300, 2300, 3300]}
df = pd.DataFrame(data)

df['Total_Sales'] = df.apply(sum, axis=1)
print(df)
```
**Output:**
```
     Q1    Q2    Q3    Q4  Total_Sales
0  1000  1500  1200  1300        5000
1  2000  2500  2200  2300        9000
2  3000  3500  3200  3300       13000
```
---

#### **2. Applying a Function to Rows**
**Example:** Assigning grades based on marks.  
```python
data = {'Student': ['Alice', 'Bob', 'Charlie', 'David'], 'Marks': [92, 76, 85, 60]}
df = pd.DataFrame(data)

def assign_grade(row):
    if row['Marks'] >= 90:
        return 'A'
    elif row['Marks'] >= 75:
        return 'B'
    else:
        return 'C'

df['Grade'] = df.apply(assign_grade, axis=1)
print(df)
```
**Output:**
```
  Student  Marks Grade
0   Alice     92     A
1     Bob     76     B
2 Charlie     85     B
3   David     60     C
```
---

#### **3. Column-wise Feature Engineering**
**Example:** Computing the price per unit.
```python
data = {'Product': ['A', 'B', 'C'], 'Total_Price': [100, 200, 300], 'Quantity': [5, 10, 15]}
df = pd.DataFrame(data)

df['Price_per_Unit'] = df.apply(lambda row: row['Total_Price'] / row['Quantity'], axis=1)
print(df)
```
**Output:**
```
  Product  Total_Price  Quantity  Price_per_Unit
0       A         100        5            20.0
1       B         200       10            20.0
2       C         300       15            20.0
```
---

#### **4. Handling Missing Values Row-wise**
**Example:** Filling missing values with the first available value.  
```python
data = {'Col1': [None, 10, None, 40], 'Col2': [5, None, 30, None]}
df = pd.DataFrame(data)

df['Final_Value'] = df.apply(lambda row: row['Col1'] if pd.notnull(row['Col1']) else row['Col2'], axis=1)
print(df)
```
**Output:**
```
   Col1  Col2  Final_Value
0   NaN   5.0         5.0
1  10.0   NaN        10.0
2   NaN  30.0        30.0
3  40.0   NaN        40.0
```
---

#### **5. Creating List-Based Features**
**Example:** Generating a list with multiple scaled values.
```python
data = {'A': [1, 2, 3, 4]}
df = pd.DataFrame(data)

df['Scaled_A'] = df['A'].apply(lambda x: [x, x*2, x*3])
print(df)
```
**Output:**
```
   A    Scaled_A
0  1  [1, 2, 3]
1  2  [2, 4, 6]
2  3  [3, 6, 9]
3  4  [4, 8, 12]
```
---

### **Summary: When to Use `map()` vs `apply()`**
| Feature  | `map()` | `apply()` |
|----------|--------|-----------|
| Works on | Series (single column) | DataFrame (multiple columns/rows) |
| Element-wise? | Yes | No (operates on entire row/column) |
| Input type | Function, dictionary, Series | Function (custom, lambda, predefined) |
| Flexibility | Limited | More powerful |
| Use cases | Simple transformations, dictionary mapping | Complex row-wise/column-wise computations |

---

These examples illustrate the **real-world use cases** of `map()` and `apply()`, helping in data cleaning, feature engineering, and transformations.